
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<ol>
    <li>Randhanu Kinder Garten and Model High School, 2002-2014</li>
    <li>Shahzadpur Govt College, 2015-2017</li>
    <li>American International University - Bangladesh, 2018-Present</li>
</ol>