
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<ul>
    <li>
        <a src="https://github.com/ashrhmn/VMS-OOP2-Project">OOP2 Project - Vote Management System</a>
    </li>
    <li>
        <a src="https://github.com/ashrhmn/webtech-project">Webtech Project - Diagnostic Center Management System</a>
    </li>
</ul>


