
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Student</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav>
        <a href="/Student">Student List</a>
        <a href="/Student/create">Create Student</a>
    </nav>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
